/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lemon-grad-start: #fdffef;
  --lemon-grad-end: #fff4b5;
}

body {
  margin: 0;
  padding: 0;

  background: linear-gradient(
    135deg,
    var(--lemon-grad-start) 0%,
    var(--lemon-grad-end) 100%
  );
  background-attachment: fixed; /* 스크롤해도 배경은 고정! */
  min-height: 100vh;
  font-family: "Pretendard", -apple-system, sans-serif;
  color: #555;
}

/* 스크롤바도 레몬 테마로 앙증맞게 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #fff4b5;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
